{% extends 'WobbleCodeBillingBundle::layout.html.twig' %}

{% block app_content_title %}
  {{ 'WobbleCodeBilling.view.User.PaymentRequest.new.title'|trans }}
{% endblock %}

{% block app_content_content %}
  <div class="row">
    <div class="col-sm-7">
      <p class="lead"> {{ 'WobbleCodeBilling.view.User.PaymentRequest.new.subtitle'|trans }}</p>

      <form action="{{ path('billing_payment-request_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <hr/>
        <button class="btn btn-primary" type="submit">{{ 'WobbleCodeBilling.view.User.PaymentRequest.new.button.create'|trans }}</button>
        <a class="btn btn-link" href="{{ path('billing_payment-request') }}">
          {{ 'WobbleCodeBilling.view.User.PaymentRequest.new.link.back'|trans }}
        </a>
      </form>

    </div>
  </div>
{% endblock %}
